.centeredContainer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centeredContainer p {
  font: inherit;
  font-size: 22px;
  margin-right: 20px;
}

.btn {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9e0a43;
  border: 1px solid #fcb8d2;
  border-radius: 10px 100px / 120px;
  padding: 0.5rem 1.2rem;
}

.btn:hover {
  transition: 0.1s ease-in-out !important;
  color: white;
  background-color: #cc2062;
  border-color: white;
}
